<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Management</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="container">
        <h1>Start Your Rental Business</h1>
        <p>Manage your rental items easily and efficiently.</p>
        <div class="auth-buttons">
            <a href="{{url_for('login')}}" > Login</a>
            <a href="{{url_for('signup')}}" > SignUp</a>
        </div>
    </div>
</body>
</html>
